{{#if this.isSaved}}

  <div class="row captured-article">

    <div class="col-sm-10">
  
    <h3> 
      <a href="https://www.inquirer.com{{this.link}}" target="_blank">{{this.headline}}</a>

    </h3>

    </div>
 
    <div class="col-sm-2">
                      
        <button data-id="{{this._id}}" class="comment btn-warning">Comments</button>

    </div>

  </div>

  <div class="row double-border">

    <div class="col-sm-10">

      <p>

        {{this.summary}}

        <br>

        <span class="by-size">{{this.byLine}}</span>

        <br>

      </p>

    </div>

    <div class="col-sm-2">
                      
      <button data-id="{{this._id}}" class="removeSaved btn-danger">Remove Saved</button>

    </div>

  </div>

{{/if}}
  


    
