<div class="row comments">

  <div class="col-sm-10">

  <h4> 
    {{this.tagLine}} 
  </h4>

  </div>

  <div class="col-sm-2">
                    
      <button data-id="{{this._id}}" class="deleteComment btn-danger">Delete</button>

  </div>

</div>

<div class="row double-border">

  <div class="col-sm-10">

    <p>

      {{this.comment}}

      <br>

      {{this.user}}

      <br>

      {{this.userCreated}}

    </p>

  </div>

</div>
  


    
